<a href="https://colab.research.google.com/github/hobinkwak/lecture_log/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B3%BC%EC%99%B8(250319).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 변수

In [17]:
# 숫자값 할당
a = 2024     # a <- 2024를 넣는다.
b = 2025

# 문자열(string) 할당
string_a = "사과"
string_b = '오렌지'

In [21]:
# print() 출력
print(a)

2024

- 식별자 규칙 (=변수 이름 규칙)
    - 숫자, 알파벳, 언더바
        - 시작은 알파벳 혹은 언더바
    - 예약어 같은 함수는 쓰면 안됨

In [23]:
_a = 'string'
print(_a)

string

In [25]:
1_a = 'apple'
print(1_a)

SyntaxError: invalid decimal literal (<ipython-input-25-8bb2bbfcb6e5>, line 1)

In [26]:
# 예약어로 변수를 쓸 수 없다
def = 500

SyntaxError: invalid syntax (<ipython-input-26-9971fc1b274a>, line 2)

In [31]:
# 함수이름은 가급적 피하자
min = 1
print(min)
print(min(1, 2, 3, 4, 5))

1

TypeError: 'int' object is not callable

In [33]:
# snake case
my_first_snake_case = 132
# camel case
MyFirstCamelCase = 12343242

# 자료형

## 숫자형

In [35]:
# Integer(정수), float(실수)

a = 1
b = 1.0

print("변수 a의 타입은", type(a))
print("변수 b의 타입은", type(b))

변수 a의 타입은 <class 'int'>
변수 b의 타입은 <class 'float'>

In [36]:
# int와 float 연산을 하게 되면 float가 됨

c = a + b
print(type(c))

<class 'float'>

## 문자열

In [39]:
string = "st ring"
string2 = 'string'

string3 = "누군가 '배고프다' 라고 말했다. "

print(string3)

누군가 '배고프다' 라고 말했다.

In [44]:
# 독특한 기능을 하는 문자열
print(r'\t는')
print('\t 들여쓰기 기능을 합니다.\t')

print(r'\n는')
print('\n 줄 바꾸기 \n 기능을 합니다.')

\t는
	 들여쓰기 기능을 합니다.
\n는

 줄 바꾸기
 기능을 합니다.

## Boolean

In [48]:
# 논리형 (True와 False만 취급)

a = True   # 1로 인식
b = False  # 0으로 인식

print(type(a))
print(a + b)

<class 'bool'>
1